@import '../../../styles/variables';

.root {
  background-color: theme('colors.secondarySlate');
  color: theme('colors.white');
  padding: 6.2rem 2.4rem;

  @screen md {
    padding: 7.5rem 3.2rem;
  }

  @screen lg {
    padding: 8rem 4rem;
  }

  @screen xl {
    padding: 8.5rem 2.4rem;
  }
}

.wrapper {
  @apply container;

  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  gap: 5.6rem;

  @screen md {
    gap: 8rem;
    flex-direction: row;

    h3 {
      font-size: 4rem;
    }
  }
  
  @screen lg {
    gap: 11.3rem;
  }

  @screen xl {
    gap: 17rem;
    max-width: 108.4rem;

    h3 {
      font-size: 4.8rem;
    }
  }
}

.wrapper__variantImage {
  gap: 6.87rem;
  flex-direction: column-reverse;

  @screen md {
    gap: 12.4rem;
    flex-direction: row;
  }

  @screen lg {
    gap: 11.3rem;
  }

  @screen xl {
    gap: 17rem;
  }
}

.wrapper__variantForm {
  flex-direction: column;

  @screen md {
    max-width: 52rem;
  }

  @screen lg {
    max-width: 100%;
    gap: 8.8rem;
    flex-direction: row;
  }

  @screen xl {
    max-width: 108.4rem;
    gap: 17rem;
  }
}

.leftSide {
  width: 100%;

  h2 {
    font-size: 4rem;

    @screen md {
      margin-bottom: 0;
      font-size: 7.2rem;
    }
  }
}

.leftSide__buttons {
  > section {
    flex-direction: column;
    width: fit-content;

    @screen lg {
      flex-direction: row;
    }
  }
}

.rightSide {
  width: 100%;
  align-self: center;
}

.tertiaryButton {
  > section > section {
    padding: 1.6rem;
  }
}

.image {
  margin: auto;
  padding: 2.3rem;
  max-width: 100%;

  @screen md {
    padding: 0;
  }

  @screen lg {
    max-width: 37.5rem;
  }

  @screen xl {
    max-width: 40rem;
  }
}
