@import '../../../styles/variables';

.root {
  background-color: theme('colors.secondarySlate');
  color: theme('colors.white');
<<<<<<< HEAD
  padding: 6.2rem 2.4rem;
=======
  overflow: hidden;
  padding: 0 2.4rem;
>>>>>>> a6f3b2872147334d1db5c38ce99ed59deb5c8308

  @screen md {
    padding: 0 3.2rem;
  }

  @screen lg {
    padding: 0 4rem;
  }
}

.wrapper {
  @apply container;

  padding: 13.5rem 0;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  gap: 5.6rem;

  @screen md {
    padding: 8.2rem 0;
    gap: 3.2rem;
    flex-direction: row;
  }
  
  @screen lg {
    padding: 10.4rem 0;
    gap: 11.3rem;
  }

  @screen xl {
    padding: 17.2rem 0;
    gap: 17rem;
    max-width: 108.4rem;
  }
}

.wrapper__variantImage {
  gap: 2.55rem;
  flex-direction: column-reverse;
  padding: 6.2rem 0;

  @screen md {
    gap: 12.4rem;
    flex-direction: row;
    padding: 5.45rem 0 4.75rem;

    > div {
      &:first-child {
        width: 42%
      }
      &:last-child {
        width: 58%
      }
    }
  }

  @screen lg {
    gap: 11.3rem;
    padding: 9.6rem 0 8rem;

    > div {
      &:first-child {
        width: 55%
      }
      &:last-child {
        width: 45%;
      }

      h3 {
        font-size: 4rem;
      }
    }
  }

  @screen xl {
    gap: 17rem;
    padding: 16rem 0 8.4rem;

    > div {
      &:last-child {
        width: 37%;
      }

      
      h3 {
        font-size: 4.8rem;
      }
    }
  }
}

.wrapper__variantForm {
  flex-direction: column;
  padding: 8.6rem 0 5.6rem;

  > div > div > p:first-child {
    display: none;
  }

  @screen md {
    max-width: 52rem;
    padding: 11.2rem 0 5.6rem;
    gap: 5.6rem;
    > div {
      width: 100%;
    }
  }

  @screen lg {
    max-width: 100%;
    gap: 8.8rem;
    padding: 7.7rem 0 5.6rem;
    flex-direction: row;

    > div {
      &:first-child {
        width: 53%;
      }
      &:last-child {
        width: 47%;
      }

      > div > p:first-child {
        display: block;
      }
    }
  }

  @screen xl {
    max-width: 108.4rem;
    padding: 17.2rem 0 5.6rem;
    gap: 17rem;

    > div {
      &:first-child {
        width: 56%;
      }
      &:last-child {
        width: 44%;
      }
    }
  }
}

.leftSide {
  width: 100%;

  h2 {
    font-size: 4rem;
    line-height: 100%;

    @screen md {
      margin-bottom: 0;
      font-size: 7.2rem;
    }
  }

  @screen md {
    width: 50%;
  }

  @screen lg {
    width: 55%;
  }

  @screen xl {
    width: 56%;
  }
}

.rightSide {
  width: 100%;
  align-self: center;

  @screen md {
    width: 50%;
  }

  @screen lg {
    width: 45%;
  }

  @screen xl {
    width: 44%;
  }
}

.oneColumnBody {
  > p {
    letter-spacing: normal;
  }
  
  > section > section {
    padding: 1.6rem;
  }

  @screen md {
    h4 {
      margin-top: 1rem;
      font-size: 3.2rem;
      line-height: 110%;
    }

    > p {
      letter-spacing: 0.01em;
    }
  }

  @screen lg {
    > p {
      line-height: 150%;
      letter-spacing: normal;
    }
  }

  @screen xl {
    h3 {
      font-size: 4.8rem;
    }

    h4 {
      margin-top: 0;
    }

    > p {
      line-height: 135%;
      letter-spacing: normal;
    }
  }
}

.image {
  margin: auto;
  padding: 4.3rem;
  max-width: 100%;

  @screen md {
    padding: 0;
    margin-top: -2rem;
  }

  @screen lg {
    max-width: 37.5rem;
<<<<<<< HEAD
=======
    margin-top: -1rem;
>>>>>>> a6f3b2872147334d1db5c38ce99ed59deb5c8308
  }

  @screen xl {
    max-width: 40rem;
  }
}
