@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  position: relative;
  border-bottom: 1px solid theme('colors.darkBlue');
  margin: auto;

  @screen md {
    max-width: 52rem;
  }

  @screen lg {
    max-width: 61.8rem;
  }

  @screen xl {
    max-width: 62.8rem;
  }
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5.6rem;
  transition: all .3s ease-in-out;

  &[data-collapse='true'] {
    padding-top: 3.8rem;
  }
}

.contentSection {
  transition: all .3s ease-in-out;
  max-height: 50rem;
  opacity: 1;
  padding-bottom: 5.6rem;

  &[data-collapse='true'] {
    max-height: 0;
    opacity: 0;
    padding-bottom: 3.2rem;
  }

  @screen xl {
    &[data-collapse='true'] {
      padding-bottom: 2.8rem;
    }
  }
}

.contentInner {
  padding-top: 1.6rem;

  > p {
    ins {
      text-decoration: line-through;
    }

    b {
      @include typo-body-bold;
      font-size: 1.6rem;
    }
  }

  > div {
    padding-top: 3.2rem;
    max-width: fit-content;
  }
}

.headline {
  max-width: 26.9rem;

  @screen md {
    max-width: 46.2rem;
    font-size: 2.4rem;
    line-height: 140%;
  }

  @screen lg {
    max-width: 56rem;
  }

  @screen xl {
    max-width: 57rem;
    line-height: 110%;
  }
}

.icon {
  width: 3.2rem;
  height: 3.2rem;

  path {
    stroke: theme('colors.darkBlue');
    stroke-width: 2;
    scale: 1;
    transition: all .3s ease-in-out;
    transform-origin: center;
  }

  &[data-collapse='false'] {
    path:last-child {
      scale: 0;
    }
  }
}
