.root {
  position: relative;
}

.button {
  background-color: transparent;
}

.link {
  background-color: transparent;
}

.inner {
  border-radius: 0.4rem;
  background: theme('colors.passionBlue');
  color: theme('colors.white');

  padding: 0.8rem;
  display: flex;
  gap: 2.4rem;

  @screen md {
    padding: 1.6rem;
  }
}

.inner__outline {
  background: theme('colors.white');
  border: 1px solid theme('colors.passionBlue');
  color: theme('colors.passionBlue');

  .icon path {
    fill: theme('colors.passionBlue');
  }
}

.label {
  font-size: 1.4rem;
}

.icon {
  background-color: transparent;
}
