@import '../../../styles/variables';

.root {
  padding: 2rem;
}

.wrapper {
  @apply container;

  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @screen md {
    gap: 3.2rem;
    flex-direction: row;
  }

  @screen xl {
    gap: 5.6rem;
    max-width: 144rem;
  }
}

.wrapper__reverse {
  flex-direction: row-reverse;

  .leftSide {
    display: block;
  }
}

.leftSide {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @screen md {
    justify-content: end;
    width: 50%;
  }
}

.rightSide {
  width: 100%;

  @screen md {
    width: 50%;
  }
}

.circlesContainer {
  position: absolute;
  top: -2%;
  aspect-ratio: 1 / 1;
  height: 104%;

  > li {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

}

.circleLeft {
  border: 2px solid #EDEADD;
  transform: translate(-100%, 0%);
}

.circleCenter {
  background-color: #604aff1a;
  transform: translate(-50%, -100%);
}

.circleRight {
  border: 0.2rem solid #604AFF;
  transform: translate(0%, -200%);
}

.image {
  z-index: 1;
}

.oneColumnBody {
  > p {
    margin-bottom: 3.2rem;

    &:first-child {
      margin-bottom: 0.8rem;
    }
  }

  > h2 {
    margin-bottom: 1.6rem;
  }

  @screen lg {
    max-width: 45.6rem;

    > h2 {
      font-size: 4.8rem;
    }
  }

  @screen xl {
    max-width: 51.4rem;

    > h2 {
      font-size: 7.2rem;
    }
  }
}
