@import '../../../styles/variables';

.root {
  position: relative;
}

.wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  max-width: 32.7rem;

  @screen md {
    flex-direction: row;
    max-width: 70.4rem;
  }

  @screen lg {
    max-width: 94.4rem;
  }

  @screen xl {
    max-width: 108.4rem;
  }
}

.wrapper__right {
  flex-direction: column-reverse;

  @screen md {
    flex-direction: row-reverse;
  }
}

.wrapperImage {
  width: 32.7rem;
  height: 32.7rem;

  > div {
    width: 100%;
    height: 100%;
    background-size: 52.6rem;
    background-position: -10rem 0;
  }

  @screen md {
    width: 33.6rem;
    height: 54.4rem;

    > div {
      background-size: 54.4rem 54.8rem;
      background-position: -10.4rem -0.2rem;
    }
  }

  @screen lg {
    width: 45.6rem;
    height: 61.1rem;

    > div {
      background-size: 63rem;
      background-position: -8.5rem -0.2rem;
    }
  }

  @screen xl {
    height: 63.5rem;

    > div {
      background-size: 62.8rem 64rem;
      background-position: -5.4rem;
    }
  }
}

.wrapperText {
  background-color: theme('colors.white');
  padding: 3.2rem 2.4rem;

  @screen md {
    width: 36.8rem;
    padding: 3.2rem;
    margin-bottom: 0.6rem;
  }

  @screen lg {
    width: 48.8rem;
    padding: 5.6rem 3.2rem;
  }

  @screen xl {
    width: 62.8rem;
    padding: 6.8rem 5.8rem;
    margin-bottom: 0;
  }
}

.topEyebrow {
  margin-bottom: 1.6rem;

  @screen xl {
    margin-bottom: 2.1rem;
  }
}

.icon {
  margin-bottom: 1.6rem;
}

.headline {
  margin-bottom: 1.6rem;

  @screen lg {
    font-size: 3.2rem;
    line-height: 110%;
  }

  @screen xl {
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 0.8rem;
  }
}

.description {
  margin-bottom: 3.2rem;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: normal;

  @screen lg {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  @screen xl {
    max-width: 45.6rem;
    line-height: 130%;
    letter-spacing: 0.01em;
    margin-bottom: 3.8rem;
  }
}

.buttonsContainer {
  display: flex;
  column-gap: 4rem;
  row-gap: 2.4rem;
  margin-bottom: 3.2rem;
  flex-direction: column;

  > * {
    width: fit-content;
  }

  > section {
    gap: 3.2rem;
    padding: 1.6rem;
  }

  @screen md {
    flex-direction: row;
  }
  
  @screen lg {
    margin-bottom: 6.4rem;
  }

  @screen xl {
    margin-bottom: 7rem;
  }
}

.buttonsContainer__right {
  @screen xl {
    padding-left: 1.4rem;
  }
}

.line {
  max-width: 34.2rem;
  margin-bottom: 1.6rem;
}

.bottomEyebrow {
  margin-bottom: 3.7rem;

  @screen lg {
    margin-bottom: 3.2rem;
  }

  @screen xl {
    margin-bottom: 3.7rem;
  }
}

.bottomTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  span {
    color: theme('colors.passionBlue');
    border: 0.1rem solid theme('colors.passionBlue');

    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 120%;
  }
}
