@import '../../../styles/variables';

.root {
  background-color: theme('colors.warmGray');
  overflow: hidden;
  padding: 2.4rem;

  @screen lg {
    padding: 3.1rem;
  }

  @screen xl {
    padding: 3.2rem 3.1rem 3.6rem;
  }
}

.wrapper {
  background-color: theme('colors.butterCream');

  display: flex;
  margin: auto;
}

.inner {
  @apply container;

  position: relative;
  margin: auto;
  padding: 15.6rem 15rem 20.4rem;
}

.arrowCorner {
  position: absolute;
  width: 12.5rem;
  top: -2.6rem;
  right: -2.4rem;

  @screen lg {
    width: 16.4rem;
    top: -3.2rem;
    right: -3.1rem;
  }
}

.row {
  border-top: 1.5px solid theme('colors.steel');
  display: flex;
  justify-content: space-between;
}

.leftSide {
  max-width: 40rem;
  padding-top: 2.2rem;

  > p {
    margin-bottom: 4.8rem;
  }
}

.rightSide {
  font-size: 24rem;
}
