@import '../../../styles/variables';

.root {
  margin: 5.6rem 0;
  background-color: theme('colors.butterCream');
}

.wrapper {
  @apply container;

  position: relative;
  overflow: hidden;
  background-color: theme('colors.passionBlue');
  color: theme('colors.white');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2.4rem;
  row-gap: 3.2rem;

  @screen md {
    border-radius: 1.2rem;
    padding: 3.7rem 9.2rem;
    max-width: 70.4rem;
  }

  @screen lg {
    flex-direction: row;
    text-align: left;
    column-gap: 5.7rem;
    padding: 4.8rem 4.8rem 5.51rem;
    max-width: 94.4rem;
  }

  @screen xl {
    padding: 5.13rem 11.4rem 5.8rem;
    max-width: 131.2rem;
  }
}

.wrapper__centered {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @screen lg {
    padding: 3.4rem 4.8rem 4.03rem;
  }

  @screen xl {
    padding: 4.23rem 27.3rem 5rem;
  }
}

.leftSide {
  margin-top: 0.5rem;
  position: relative;

  @screen md {
    max-width: 52rem;
  }

  @screen lg {
    max-width: 45.6rem;
  }

  @screen xl {
    max-width: 76.6rem;
  }
}

.rightSide {
  width: 32.7rem;

  @screen md {
    width: 33.5rem;
  }

  @screen lg {
    margin-top: 0;
  }
}

.headline {
  margin-bottom: 0.8rem;
  font-size: 2rem;

  @screen lg {
    font-size: 2.4rem;
    line-height: 110%;
  }

  @screen xl {
    font-size: 3.2rem;
  }
}
