@import '../../../styles/variables';

.root {
  background-color: theme('colors.butterCream');
  color: theme('colors.darkBlue');
  overflow: hidden;
}

.wrapper {
  @apply container;

  padding: 0 2.4rem 4.2rem;
  margin: auto;

  @screen md {
    padding-bottom: 0;
  }

  @screen xl {
    max-width: 108.4rem;
    padding-bottom: 2.8rem;
  }
}

.topSection {
  text-align: center;
  margin-bottom: 8.5rem;

  @screen md {
    margin-bottom: 7rem;
  }

  @screen lg {
    margin-bottom: 8.3rem;
  }

  @screen xl {
    margin-bottom: 8.9rem;
  }
}

.topTag {
  margin-bottom: 0.8rem;

  @screen xl {
    margin-bottom: 1.6rem;
  }
}

.headline {
  margin-top: 0rem;
  margin-bottom: 1.6rem;

  @screen lg {
    font-size: 4.8rem;
  }

  @screen xl {
    font-size: 7.2rem;
  }
}

.description {
  margin: 0 auto 3.2rem;

  @screen md {
    max-width: 70.4rem;
  }

  @screen lg {
    max-width: 82rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: normal;
  }

  @screen xl {
    max-width: 76rem;
    line-height: 135%;
    margin-bottom: 4rem;
  }
}

.buttonsContainer {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;

  > section {
    padding: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.questionsSection {
  > div:first-child {
    border-top: 1px solid theme('colors.darkBlue');
  }
}
