@import '../../../styles/variables';

.root {
  background-color: theme('colors.butterCream');
  overflow: hidden;
  margin-top: 2rem;
}

.wrapper {
  @apply container;

  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
  gap: 3rem;

  @screen md {
    flex-direction: row;
    gap: 3.2rem;
    padding: 0 3.2rem;
  }

  @screen lg {
    padding: 0 4rem;
  }

  @screen xl {
    gap: 5.6rem;
    padding: 0;
    max-width: 108.4rem;
  }
}

.leftSide {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem 1.2rem 0 0;
  margin-bottom: 0.575rem;

  @screen md {
    width: 50%;
    margin-bottom: 0;
  }

  .wrapperImage {
    border-radius: 0 0 1.2rem 1.2rem;
  }

  .oneColumnBody {
    @screen md {
      > p {
        margin-bottom: 3.5rem;
  
        &:first-child {
          margin-bottom: 0.8rem;
        }
      }
    }

    @screen lg {
      > p {
        margin-bottom: 8rem;
  
        &:first-child {
          margin-bottom: 0.8rem;
        }
      }
    }

    @screen xl {
      > p {
        margin-bottom: 4.1rem;

        &:first-child {
          margin-bottom: 1.3rem;
        }
      }
    }
  }
}

.rightSide {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.575rem;

  @screen md {
    margin-bottom: 0;
    width: 50%;
  }
}

.wrapperImage {
  order: 1;
  overflow: hidden;
  border-radius: 1.2rem 1.2rem 0 0;

  img {
    width: 100%;
  }

  @screen md {
    &__bottom {
      order: 3;
    }
  }
}

.oneColumnBody {
  order: 2;
  border-radius: 0 0 1.2rem 1.2rem;
  overflow: hidden;
  background-color: theme('colors.white');
  white-space: break-spaces;
  padding: 3.2rem 3.9rem;

  > p {
    font-size: 1.4rem;
    line-height: 140%;
    margin-bottom: 3.2rem;
    letter-spacing: normal;

    &:first-child {
      margin-bottom: 1.325rem;
    }
  }

  h4 {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }

  > section > div > div {
    margin-right: 0;
  }

  @screen md {
    padding: 4rem 4rem 4.3rem;

    > p {
      font-size: 1.6rem;
      line-height: 2.4rem;

      &:first-child {
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-bottom: 0.8rem;
      }
    }

    > section > div > div {
      margin-right: 1.6rem;
    }
  }

  @screen lg {
    padding: 4.8rem 4rem;

    h4 {
      font-size: 4rem;
    }
  }

  @screen xl {
    padding: 5.6rem 5.7rem 5.9rem;

    > p {
      margin-bottom: 4.1rem;
      line-height: 130%;
      letter-spacing: 0.01em;

      &:first-child {
        text-transform: capitalize;
        line-height: 120%;
        margin-bottom: 1.3rem;
        letter-spacing: normal;
      }
    }

    > section {
      margin-left: 0.75rem;
    }
  }
}
