.root {
  position: relative;
  overflow: hidden;
  
  @screen xl {
    width: 33.5rem;
  }
}

.formGroup {
  display: block;

  > div {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: theme('colors.butterCream');
  }
}

.formInput {
  margin: 0.8rem 0.2rem 0.2rem;
  height: 4.8rem;
  width: calc(100% - 0.4rem);
  padding: 0 2.1rem;
  border-radius: 0.4rem;
  background-color: theme('colors.butterCream');
  color: theme('colors.darkBlue');
  font-size: 1.6rem;
  line-height: 2.2rem;

  &::placeholder {
    color: theme('colors.darkBlue');
    opacity: 0.5;
  }
}

.button {
  position: absolute;
  right: 0;
  bottom: 0.4rem;
  width: 5.84rem;
  height: 4.24rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2.7rem;
  height: auto;
}
