@import '../../../styles/variables';

.root {
  background-color: #1A191C;
  color: #fff;
  font-family: 'AeonikPro-Regular';
  padding: 6.2rem 2.4rem;

  @screen md {
    padding: 7.5rem 3.2rem;
  }

  @screen lg {
    padding: 8rem 4rem;
  }

  @screen xl {
    padding: 8.5rem 2.4rem;
  }
}

.wrapper {
  @apply container;

  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 6.87rem;

  @screen md {
    gap: 12.4rem;
    flex-direction: row;
  }
  
  @screen lg {
    gap: 11.3rem;
  }

  @screen xl {
    gap: 17rem;
    max-width: 108.4rem;
  }
}

.leftSide {
  width: 100%;

  h3 {
    font-size: 4rem;
    margin-bottom: 1.6rem;

    @screen md {
      margin-bottom: 2.4rem;
    }

    @screen xl {
      font-size: 4.8rem;
    }
  }

  > p {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }
}

.groupButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.rightSide {
  width: 100%;
}

.image {
  margin: auto;
  padding: 2.3rem;
  max-width: 100%;

  @screen md {
    padding: 0;
  }
}
