.root {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height:  2.4rem;
  stroke-width: 2;
  stroke: theme('colors.passionBlue');
  opacity: 0;

  &[data-checked='true'] {
    opacity: 1;
  }
}

.input {
  width: 2.4rem;
  height: 2.4rem;
  appearance: none;
  border: 0.2rem solid theme('colors.passionBlue');
  border-radius: 60%;
}
