.root {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke: #5951FF;
  opacity: 0;

  &[data-checked='true'] {
    opacity: 1;
  }
}

.input {
  width: 24px;
  height: 24px;
  appearance: none;
  border: 2px solid #5951FF;
  border-radius: 60%;
}
