@import '../../../styles/variables';

.root {
  margin: 5.6rem 0;
  background-color: theme('colors.butterCream');
}

.circles {
  background-color: transparent;
}

.wrapper {
  @apply container;

  position: relative;
  overflow: hidden;
  background-color: theme('colors.passionBlue');
  color: theme('colors.white');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2.4rem;
  row-gap: 3.2rem;

  @screen md {
    border-radius: 1.2rem;
    padding: 3.9rem 6.2rem 4.45rem 6rem;
    max-width: 70.4rem;
    flex-direction: row;
    text-align: left;
  }

  @screen lg {
    column-gap: 5.7rem;
    padding: 5.4rem 8.3rem 5.4rem 8.1rem;
    max-width: 94.4rem;
  }

  @screen xl {
    padding: 5.36rem 11rem;
    max-width: 129.5rem;
  }
}

.wrapper__centered {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;

  @screen md {
    padding: 3.6rem 6.2rem 3.65rem 6rem;
  }

  @screen lg {
    padding: 5rem 4.8rem 4.81rem;
  }

  @screen xl {
    padding: 4.81rem 27.3rem 5rem;
    max-width: 131.2rem;

    .rightSide {
      margin-top: 1.8rem;
      margin-right: 3.8rem;
    }
  }
}

.wrapper__circles {
  padding: 7.6rem 2.4rem;
  background-color: theme('colors.butterCream');
  color: theme('colors.darkBlue');

  @screen md {
    padding: 3.9rem 6.2rem 4.45rem 5.9rem;

    &.wrapper__centered {
      padding: 3.5rem 16.8rem 3.95rem;
    }
  }

  @screen lg {
    padding: 5rem 8rem 5.31rem 8rem;

    &.wrapper__centered {
      padding: 4.9rem 24.4rem 5.11rem;
    }
  }

  @screen xl {
    max-width: 131.2rem;
    padding: 5.2rem 12.3rem 6.31rem 11.4rem;

    &.wrapper__centered {
      padding: 5.2rem 12.4rem 4.81rem 15.4rem;
    }
  }
}

.leftSide {
  margin-top: 0.5rem;
  position: relative;

  @screen md {
    max-width: 36.8rem;
  }

  @screen lg {
    max-width: 45.6rem;
  }

  @screen xl {
    max-width: 76.6rem;
  }
}

.rightSide {
  width: 16.8rem;
  > section {
    padding: 1.6rem;
    gap: 3.2rem;
  }
}

.headline {
  margin-bottom: 0.8rem;
  font-size: 2rem;

  @screen lg {
    font-size: 2.4rem;
    line-height: 110%;
  }

  @screen xl {
    font-size: 3.2rem;
  }
}
