@import '../../../styles/variables';

.root {
  position: relative;
  color: theme('colors.darkBlue');

  @screen lg {
    max-width: 45.6rem;
  }

  @screen xl {
    max-width: 51.4rem;
  }
}

.wrapper {
  border: 0.15rem solid theme('colors.darkBlue');
  border-radius: 1.2rem;
}

.category {
  border-bottom: 0.15rem solid theme('colors.darkBlue');

  @screen lg {
    padding: 1.8rem 4rem;
  }

  @screen xl {
    padding: 1.2rem 2.4rem;
  }
}

.bottomSection {
  > *:last-child {
    margin-bottom: 0;
  }

  @screen lg {
    padding: 4rem 4.8rem;
  }

  @screen xl {
    padding: 1.959rem;
  }
}

.icon {
  @screen lg {
    margin-bottom: 2.4rem;
  }
  
  @screen xl {
    margin-bottom: 1.6rem;
  }
}

.topTags {
  margin-bottom: 1.6rem;
  display: flex;
  flex-wrap: wrap;

  @screen lg {
    column-gap: 3.2rem;
  }
  
  @screen xl {
    column-gap: 2.6rem;
  }
}

.headline {
  @screen lg {
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 2.4rem;
  }

  @screen xl {
    font-size: 2.4rem;
    line-height: 110%;
    margin-bottom: 1.6rem;
  }
}

.description {
  @screen lg {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: normal;
    margin-bottom: 2.4rem;
  }

  @screen xl {
    font-size: 1.4rem;
    line-height: 140%;
    margin-bottom: 1.6rem;
  }
}

.wrapperButton {
  > div > div:first-child {
    margin-right: 0;
  }

  @screen lg {
    margin-bottom: 2.4rem;
  }

  @screen xl {
    margin-bottom: 1.6rem;
  }
}

.bottomTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  span {
    color: theme('colors.passionBlue');
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: 0.1rem solid theme('colors.passionBlue');
    font-size: 1.2rem;
    line-height: 120%;
  }
}
