@import '../../../styles/variables';

.root {
  position: relative;
  color: theme('colors.darkBlue');
  width: 100%;
  max-width: 32.7rem;
}

.wrapper {
  .bottomSection:first-child {
    border-radius: 1.2rem;
  }
}

.category {
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem 1.2rem 0 0;
  border: 0.15rem solid theme('colors.darkBlue');
}

.topSection {
  > div {
    border: 0.15rem theme('colors.darkBlue');
    border-style: none solid;
    height: 13.5rem;
    width: 100%;
    background-size: 31.2rem 16rem;
    background-position: 0.4rem -1.4rem;
  }
}

.bottomSection {
  padding: 1.959rem;
  border-radius: 0 0 1.2rem 1.2rem;
  border: 0.15rem solid theme('colors.darkBlue');

  > *:last-child {
    margin-bottom: 0;
  }
}

.icon {
  margin-bottom: 1.6rem;
}

.topTags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.6rem;
  margin-bottom: 1.325rem;
}

.headline {
  max-width: 25rem;
  font-size: 2.4rem;
  line-height: 110%;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: normal;
  margin-bottom: 1.959rem;
}

.wrapperButton {
  margin-bottom: 1.959rem;

  > div > div:first-child {
    margin-right: 0;
  }
}

.bottomTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  span {
    color: theme('colors.passionBlue');
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: 0.1rem solid theme('colors.passionBlue');
    font-size: 1.2rem;
    line-height: 120%;
  }
}
