.root {
  position: relative;
  color: #120044;
}

.form {
  max-width: 52rem;
  background-color: #fff;
  border-radius: 0.4rem;
  padding: 4rem 2.4rem;
  margin: 0 -2.4rem;

  > p {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }

  @media screen and (min-width: 480px) {
    margin: 0;
  }

  @screen md {
    max-width: 40rem;
  }
}

.formGroup {
  display: block;
  margin-bottom: 1.6rem;

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
  }
}

.formInput {
  background-color: #F7F5F2;
  border: 1px solid #1F1F1F;
  height: 4.8rem;
  width: 100%;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.formTextarea {
  background-color: #F7F5F2;
  border: 1px solid #1F1F1F;
  width: 100%;
}

.terms {
  display: flex;
  font-size: 1.6rem;
  gap: 2rem;
  margin-bottom: 2.8rem;

  a {
    color: #5951FF;
  }
}

.button {
  margin-bottom: 4rem;

  > section {
    padding: 1.6rem;
    gap: 3.4rem;
  }
}

.bottom {
  display: flex;
  gap: 4rem;
}
