@import '../../../styles/variables';

.root {
  padding: 2rem;
}

.wrapper {
  @apply container;

  padding: 0;

  @screen lg {
    max-width: 78.2rem;
  }

  @screen xl {
    max-width: 85.6rem;
  }
}

.oneColumnBody {
  padding: 0 2.4rem;

  > p {
    margin-bottom: 3.2rem;

    &:first-child {
      margin-bottom: 0.8rem;
    }
  }

  > h2 {
    margin-bottom: 1.6rem;
  }

  > section > section {
    padding: 1.6rem;
  }

  @screen md {
    padding: 0;
    white-space: break-spaces;
  }

  @screen lg {
    > h2 {
      font-size: 4.8rem;
    }
  }

  @screen xl {
    > h2 {
      font-size: 7.2rem;
    }
  }

}

.oneColumnBody__center {
  text-align: center;
  > section {
    justify-content: center;
  }
}

.oneColumnBody__right {
  text-align: right;
  > section {
    justify-content: right;
  }
}

.oneColumnBody__bottom {
  > p:first-child {
    margin-bottom: 3.2rem;

    @screen xl {
      margin-bottom: 4rem;
    }
  }
}

.oneColumnBodySpaces {
  margin-bottom: 4.8rem;

  @screen md {
    margin-bottom: 6rem;
  }

  @screen lg {
    margin-bottom: 7rem;
  }

  @screen xl {
    margin-bottom: 8rem;
  }
}

.wrapperImage {
  img {
    margin: auto;
  }

  &__headlineTop {
    margin: 3.2rem 0;

    @screen md {
      margin-bottom: 4rem;
    }

    @screen xl {
      margin-bottom: 4.8rem;
    }
  }
}
