@import '../../../styles/variables';

.root {
  padding: 2rem;
}

.wrapper {
  @apply container;

  padding: 0;

  @screen lg {
    max-width: 78.2rem;
  }

  @screen xl {
    max-width: 85.6rem;
  }
}

.oneColumnBody {
  margin-bottom: 8rem;

  > p {
    margin-bottom: 3.2rem;

    &:first-child {
      margin-bottom: 0.8rem;
    }
  }

  > h2 {
    margin-bottom: 1.6rem;
  }

  &__center {
    text-align: center;
    > section {
      justify-content: center;
    }
  }

  &__right {
    text-align: right;
    > section {
      justify-content: right;
    }
  }
}

.wrapperImage {
  img {
    margin: auto;
  }
}
