@import '../../../styles/variables';

.root {
  position: relative;
}

.wrapper {
  @apply container;
  padding: 0;

  @screen xl {
    max-width: 133.4rem;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5.6rem;
  gap: 3rem;
  padding: 0 2.4rem;

  @screen md {
    row-gap: 2.4rem;
  }

  @screen lg {
    gap: 3.2rem;
  }
  
  @screen xl {
    gap: 5.6rem;
  }
}

.row__variant2 {
  flex-wrap: wrap;

  @screen md {
    flex-wrap: unset;
    padding: 0 3.2rem;
  }

  @screen lg {
    padding: 0 4rem;
  }
}

.row__variant3 {
  flex-wrap: wrap;

  @screen md {
    justify-content: flex-start;
    padding: 0 3.2rem;
  }

  @screen lg {
    flex-wrap: unset;
    justify-content: center;
    padding: 0 4rem;
  }

  @screen xl {
    padding: 0 1rem;
  }
}

.row__variant4 {
  flex-wrap: wrap;

  @screen xl {
    padding: 0;
    flex-wrap: unset;
  }
}
