@mixin typo-h1 {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 4.8rem;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 100%;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 100%;
  }
}

@mixin typo-h2 {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 4rem;
  line-height: 100%;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4rem;
    line-height: 100%;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 100%;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 100%;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 100%;
  }
}

@mixin typo-h3 {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 4rem;
  line-height: 100%;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4rem;
    line-height: 100%;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
  }
}

@mixin typo-h4 {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
  }
}

@mixin typo-h5 {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 110%;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
  }
}

@mixin body-text {
  font-family: 'AeonikPro-Regular';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  /* or 21px */
  letter-spacing: 0.01em;

  @screen md {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    /* or 21px */
    letter-spacing: 0.01em;
  }

  @screen lg {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    /* or 21px */
    letter-spacing: 0.01em;
  }

  @screen xl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    /* or 21px */
    letter-spacing: 0.01em;
  }

  @screen xxl {
    font-family: 'AeonikPro-Regular';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    /* or 21px */
    letter-spacing: 0.01em;
  }
}

@mixin typo-eyebrow {
  font-family: 'AeonikFono-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}